# Project exclude paths
/out/
/.idea/
.idea
build.gradle.kts
gradle.properties
settings.gradle.kts

# Folder config file
[Dd]esktop.ini

/gradle/
/gradlew
/gradlew.bat
/logs/
/Core/build/
/Application/build/
/Courses/build/
/Utilities/build
/.kotlin/
/Application/build.kts.gradle
/Core/build.gradle.kts
/Utilities/build.gradle.kts
